/* Media queries go here */

@media only screen and
(max-width:800px) {


  /* ===== HEADER ===== */

  header .title {
    float: none;
    width: 100%;
  }

  header .contact {
    float: none;
    padding-top: 5%;
    width: 100%;
  }

  /* ===== MAIN ===== */

  main .about {
    float: none;
    width: 100%;
  }

  main .skills {
    float: none;
    padding-top: 5%;
  }

}




@media only screen and
(max-width:500px) {

  main .about {
    width: 100%;
    margin-right: 0;
  }

  main ul.work li {
    float: none;
    width: 100%;
    margin-bottom: 5.882352941%;
  }

  /* add margin to every other image */
  main ul.work li:nth-child(2n-1) {
    margin-right: 0;
  }

  main ul.work li img {
    max-width: 100%;
  }

}
